<div class= "container">
<%=  render "user" %>
  <div class="container" id="game_list">
    <% if @games.any? %>
      <% @games.each do |game| %>
        <p><h3><%= link_to game.name, game_path(game) %></h3> | <%= number_to_currency game.price %>
      <% end %></p>
    <% else %>
      <h3>Sorry, there are no games yet D:</h3>
    <% end %>
    <% if current_user && current_user.admin %>
    <hr>
    <h2><%= link_to "New Game", new_game_path, id: "new_link", remote: true %></h2>
    <% end %>
  </div>
</div>
